---
---

@import 'variables';
@import 'colours';
@import 'fonts';
@import 'bootstrap';

@import 'components';

@import 'nav';
@import 'cv';
@import 'projects';
@import 'blost';
@import 'footer';
@import 'banner';

body {
  //background-color: transparentize($brand-complement, 0.9);
}

h1 {
  text-align: center;
}

.subtitle {
  font-size: 0.7em;
}

img, #lists {
  width: 100%;
  height: auto;
  max-width: $wideness;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lists {
  padding-left: $padding-large-horizontal;
  padding-right: $padding-large-horizontal;
}

.container {
  width: 100%;
  height: auto;
  max-width: $wideness;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre {
  font-weight: bold;
}

hr {
  margin: $padding-small-vertical;
}

#blost {
  section:before {
    @extend .custom-hr;
  }
}

#home {
  ul {
    list-style: none;
  }
  li:before {
    @extend .list-pointer;
    font-size: 0.8em;
  }
}

#blog-archive {
  dt, dd {
    font-size: 1.2em;
  }
}
