---
---

@import 'variables';
@import 'colours';
@import 'fonts';
@import 'bootstrap';

@import 'components';

@import 'nav';
@import 'cv';
@import 'projects';
@import 'blost';
@import 'footer';
@import 'banner';

body {
  //background-color: transparentize($brand-complement, 0.9);
  text-align: justify;
}

h1 {
  text-align: center;
}

#talks {
  h2 {
    text-align: center;
  }

  .subhead {
    font-size: 0.6em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  li:after {
    @extend .custom-hr;
  }

  li:last-child:after {
    content: none;
  }

  .thumbnail {
    background-color: $brand-primary;
    border-color: $brand-complement;
  }
}

.maths {
  @extend .well;
  font-size: $font-large;
  text-align: center;
}

.subtitle {
  font-size: $font-small;
}

img, #lists {
  width: 100%;
  height: auto;
  max-width: $wideness;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lists {
  padding-left: $padding-large-horizontal;
  padding-right: $padding-large-horizontal;
}

.container {
  width: 100%;
  height: auto;
  max-width: $wideness;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre {
  font-weight: bold;
}

hr {
  margin: $padding-small-vertical;
}

#blost {
  section:before {
    @extend .custom-hr;
  }
}

#home {
  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      padding: $padding-large-horizontal;
    }

    text-shadow: 2px 2px 8px transparentize(darken($brand-complement, 20%), 0.5);

    .fa {
      font-size: $font-huge;
    }

    a {
      text-decoration: none;
    }
  }
}

#blog-archive {
  dt, dd {
    font-size: $font-large;
  }
}
