---
title: Blog
subtitle: Fully neglected since 2012
layout: narrow
---

<p>
  Previously at <em>org.orgraphone.org/blog</em>. Studiously neglected since 2012. Ported straight outta Wordpress, so some of the formatting is a bit screwy. I'll fix it one day
</p>

{% for year in site.data.years %}
<h2>
  {{ year }}
</h2>

<dl class='dl-horizontal'>
  {% for post in site.posts %}
    {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year == post_year %}
      <dt>
        {{ post.date | date_to_long_string }}
      </dt>
      <dd>
        <a href='{{ post.url }}'>{{ post.title }}</a>
      </dd>
    {% endif %}
  {% endfor %}
</dl>

{% endfor %}
