---
title: Mv CV
layout: narrow
sections:
  - skills
  - employment
  - interests
  - contact
---

{% include cv/profile.html %}

<div class='row' id='sections'>
  <div class='col-md-12 text-center'>
    {% for section in page.sections %}
      <a href='#{{ section }}'>{{ section | capitalize }}</a>
      {% include conditional-separator.html sep = '|' %}
    {% endfor %}
  </div>
</div>

{% for section in page.sections %}
  {% include cv/{{ section }}.html %}
  {% include back-to-top.html %}
  {% include conditional-separator.html %}
{% endfor %}

{% include cv/tail.html %}
