---
title: Mv CV
layout: narrow
sections:
  - skills
  - employment
  - interests
  - contact
---

{% include cv/blurb.html %}

<hr />

<div class='row' id='sections'>
  <div class='col-md-12 text-center'>
    {% for section in page.sections %}
      <a href='#{{ section }}'>{{ section | capitalize }}</a>
      {% if forloop.rindex0 > 0 %}
        |
      {% endif %}
    {% endfor %}
  </div>
</div>

{% for section in page.sections %}
  <hr />
  {% include cv/{{ section }}.html %}
  {% include back-to-top.html %}
{% endfor %}
