---
title: Some things I have built
layout: narrow
---

<p>
  Some of these are on <a href='http://heroku.com/'>Heroku</a> (on the free tier), so they may have gone to sleep. Please be patient while they wake up...
</p>
<dl>
{% for project in site.data.projects %}
  <dt>
    <a href='{{ project.url }}'>
      {{ project.title}}
    </a>
  </dt>
  {% if project.description %}
    <dd class='project-description'>
      {{ project.description | markdownify }}
    </dd>
  {% endif %}
{% endfor %}
</dl>
