<div id='banner'></div>

<script>
logo = SVG('banner')
logo.viewbox({
  x: 0,
  y: 0,
  width: 96,
  height: 8
})

link = logo.link('/')

rects = {}

rect = link.defs()
           .rect(1, 1)
           .stroke({width: 0.1})
           .addClass('front')

{% for rect in site.data.logo %}
  rects[{{ rect.x }} + '-' + {{ rect.y }}] = link.use(rect).move({{ rect.x }}, {{ rect.y }})
{% endfor %}

window.onload = function start() {
  glitch();
}

victim = ['{{ site.data.logo.first.x }}-{{ site.data.logo.first.y }}']

function glitch() {
  window.setInterval(function() {
    link.add(rects[victim])
    victim = Object.keys(rects)[Math.floor(Math.random() * Object.keys(rects).length)]
    rects[victim].remove()
  }, Math.random() * 5000)
}
</script>
