<div id='banner'></div>

<script>
  d3.json('/assets/images/logos/pikesley.svg.json', function(data) {
    svg = d3.select('#banner')
            .append('div')
            .classed('svg-container', true)
            .append('svg')
            .attr('preserveAspectRatio', 'xMinYMin meet')
            .attr('viewBox', '0 0 ' + (data.width + 1) + ' ' + (data.height + 1))
            .classed('svg-content-responsive', true)
            .append('g')

    weighting = d3.scaleLinear()
                  .domain([0, data.width])
                  .range([0, Math.PI])

    svg.selectAll('rect')
       .data(data.data)
       .enter()
       .append('a')
       .attr('xlink:href', '/')
       .append('rect')
       .attr('x', function(d) {
         return d.x
       })
       .attr('y', function(d) {
         return d.y
       })
       .attr('height', 1)
       .attr('width', 1)
       .classed('pixel', true)
       .classed('alt-pixel', function(d) {
         if (Math.random() > (Math.cos(weighting(d.x)) + 1) / 2) {
           return true
         } else {
           return false
         }
       })
       //.on('mouseover', handleMouseOver)
       //.on('mouseout', handleMouseOut)
  })

  function handleMouseOver(d, i) {
    d3.select(this)
      .classed('pixel', false)
      .classed('alt-pixel', true)
  }

  function handleMouseOut(d, i) {
    d3.select(this)
      .classed('alt-pixel', false)
      .classed('pixel', true)
  }
</script>
