$(function() {
  projects = [
    {% for project in site.data.projects %}
      {{ project | replace: '=>', ': ' }}
      {% unless forloop.last %}
      ,
      {% endunless %}
    {% endfor %}
  ]

  parent = $('#{{ include.primary-list }}')
  tag = new URLSearchParams(window.location.search).get('tag')

  filtered_projects = []

  for (i = 0; i < projects.length; i++) {
    project = projects[i]
    if (tag) {
      if (project.tags) {
        if (project.tags.indexOf(tag) >= 0) {
          filtered_projects.push(project)
        }
      }
    } else {
      filtered_projects.push(project)
    }
  }

  wide = ($('body').width() > 768)
  if (wide) {
    $('#{{ include.primary-list }}').before('<div class="row" id="lists"></div>')

    parent.after('<ul id="{{ include.primary-list }}-overspill" class="main-list"></ul>')
    $('ul').addClass('col-md-6')

    $("#{{ include.primary-list }}").appendTo('#lists')
    $("#{{ include.primary-list }}-overspill").appendTo('#lists')

    parent = $("#lists")
  }

  for (i = 0; i < filtered_projects.length; i++) {
    if (wide) {
      if (i % 2 == 0) {
        $('#{{ include.primary-list }}').append(makeProject(filtered_projects[i]))
      } else {
        $('#{{ include.primary-list }}-overspill').append(makeProject(filtered_projects[i]))
      }
    } else {
      $('#{{ include.primary-list }}').append(makeProject(filtered_projects[i]))
    }
  }

  if (tag) {
    parent.after('<p id="filter-warning">Showing only <em>' + tag + '</em> projects. <a href="/projects">Remove filter</a></p>')
  }

  function makeProject(data) {
    s = "<li><h2><a href='"
    s += data.url
    s += "'>"
    s+= data.title
    s += "</a>"
    if (data.tags) {
      for (j = 0; j < data.tags.length; j++) {
        s += "<span class='project-tag'>"
        s += "<a href='"
        s += "?tag="
        s += data.tags[j]
        s += "'>"
        s += data.tags[j]
        s += "</a>"
        s += "</span>"
      }
    }
    s += "</h2>"
    if (data.description) {
      s += "<p>"
      s += data.description
      s += "</p>"
    }
    s += "</li>"

    return s
  }
})
