<nav class='navbar navbar-default navbar-static-top' id='main-nav'>
  <ul class='nav nav-justified'>
    {% for item in site.data.navigation %}
      <li role='presentation' class='nav-item'>
        <a href='{{ item.path }}'
           title='{{ item.title }}'
           class='
           {% if item.path == page.url %} active{% endif %}
           {% if item.path contains page.parent %} active{% endif %}
           '>
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
