{% capture description %}{{ page.title }}{% endcapture %}
{% if page.parent %}
  {% capture description %}{{ page.parent | capitalize }} » {{ description }}{% endcapture %}
{% endif %}
{% capture title %}I am Sam Pikesley{% endcapture %}

{% assign social_site = 'http://sam.pikesley.org' %}
{% assign social_site_name = 'pikesley.org' %}

<meta property="og:title" content="{{ title }}" />
<meta property="og:site_name" content="{{ social_site_name }}" />
<meta property="og:url" content="{{ social_site }}{{ page.url }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="//c4.staticflickr.com/6/5603/31353670851_df644b1034.jpg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pikesley" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="//c4.staticflickr.com/6/5603/31353670851_df644b1034.jpg" />
<meta name="twitter:url" content="{{ social_site }}{{ page.url }}" />
