#banner {
  @extend .shadow;
  
  padding: $padding-large-vertical;

  #front {
    fill: $brand-primary;
    stroke: darken($brand-primary, 10%);
    :hover {
      fill: darken($brand-primary, 10%);
    }
  }

  #outline {
    stroke: $brand-complement;
  }

  #copyright {
    font-family: spectrum;
    word-spacing: 1em;
    font-size: 0.5em;
  }
}
