#banner {
  @extend .shadow;

  padding: $padding-large-vertical;

  .front {
    fill: $brand-primary;
    stroke: darken($brand-primary, 10%);
    :hover {
      fill: darken($brand-primary, 10%);
    }
  }

  .shade {
    fill: none;
    stroke: transparentize($brand-complement, 0.5);
  }

  .mover {
    fill: $brand-complement;
  }
}
