#banner, #viz {
  @extend .shadow;

  padding: $padding-large-vertical;

  .front {
    fill: $brand-primary;
    stroke: darken($brand-primary, 10%);
    :hover {
      fill: darken($brand-primary, 10%);
    }
  }

  .shade {
    fill: none;
    stroke: transparentize($brand-complement, 0.7);
  }

  .alt {
    fill: $brand-complement;
  }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
