.custom-hr {
  content: '';
  display: block;
  height: 1px;
  background-color: $hr-border;
  margin: $padding-small-vertical;
}

.list-pointer {
  font-family: 'FontAwesome';
  content: '\f061';
  margin: 0 5px 0 -20px;
  color: $brand-primary;
  font-size: $font-medium;
}

.shadow {
  -webkit-filter: drop-shadow($shadow-offset $shadow-offset $shadow-size lighten($brand-complement, 20%));
  filter: drop-shadow($shadow-offset $shadow-offset $shadow-size lighten($brand-complement, 20%));
}

.back-to-top {
  text-align: right;
  margin-top: $padding-large-vertical;
}
