#cv {
  #intro {
    font-size: $font-large;
  }

  #intro:after {
    @extend .custom-hr;
  }

  .nav {
    font-size: $font-medium;
    height: 30px;
    margin-bottom: 30px;
  }

  h2 {
    text-align: center;
  }

  #sections, #interests > ul, #contact > ul {
    @extend .list-inline, .text-center;

    li {
      font-size: $font-large;
      margin: 3px;
    }

    li:before {
      content: ' ';
    }

    li:first-child:before {
      content: none;
    }
  }

  #sections {
    font-size: $font-large;
    padding-top: $padding-large-vertical;

    a:hover {
      text-decoration: none;
      border-bottom: 2px $hover-colour solid;
    }
  }

  #skills, #interests, #contact {
    ul {
      @extend .list-inline, .text-center;
    }
  }

  #skills {
    li {
      font-size: $font-large;
      background-color: transparentize($rgba-secondary-1-1, 0.9);
      margin: 3px;

      a {
        cursor: pointer;
      }
    }

    h2 {
      // subtitle
      span {
        font-size: $font-small;
      }
    }
  }

  section:after {
    @extend .custom-hr;
  }

  #employment {
    a {
      .show-ctrl {
        display: none;
      }
      .hide-ctrl {
        display: block;
      }
      &.collapsed {
        .show-ctrl{
          display: block;
        }
        .hide-ctrl {
          display: none;
        }
      }
    }

    #employers {
      list-style: none;

      h4 {
        display: inline;
      }

      li.employer:before {
        @extend .list-pointer;
      }

      li.employer:after {
        @extend .custom-hr;
        color: transparentize($hr-border, 0.5);
      }

      li.employer:last-child:after {
        content: none;
      }
    }
  }

  #tail {
    @extend .text-center;
  }
}
