#projects {
  ul {
    list-style: none;
  }

  li:before {
    @extend .list-pointer;
    font-size: $font-medium;
  }

  h2 {
    display: inline;
    font-size: $font-large;
  }
}

.github-link {
  text-align: right;
  margin: $padding-large-vertical;

  a {
    @extend .btn, .btn-info;
  }
}
