#projects {
  ul {
    list-style: none;
  }

  li:before {
    @extend .list-pointer;
    font-size: $font-medium;
  }

  h2 {
    display: inline;
    font-size: $font-large;
  }
}

.github-link {
  text-align: right;
  margin: $padding-large-vertical;

  a {
    @extend .btn, .btn-info;
  }
}

.project-tag {
  margin-left: $padding-small-horizontal;
  font-size: $font-small;

  a {
    color: desaturate($link-color, 20%);
  }
}

.project-tags {
  text-align: right;

  .project-tag {
    margin-left: 0;
    font-size: $font-medium;
  }
}
