<div id='contact'>
  <h2 id='contact'>Contact me</h2>
  <ul class='list-inline text-center'>
    {% for contact in site.data.cv.contact %}
      <li><a href='{{ contact.link }}'>{{ contact.method }}</a></li>
    {% endfor %}
    <li>
      <a class='collapsed'
         data-toggle='collapse'
         href='#base64-phone-number'
         aria-expanded='false'
         aria-controls='base64-phone-number'>
      Telephone
      </a>
    </li>
  </ul>

  <div class='collapse' id='base64-phone-number'>
    <div class='well'>
      <code>KzQ0Nzk3OTc3NDE4Mw==\n</code>
    </div>
  </div>
</div>
