<section id='employment'>
  <h2>Places I’ve worked</h2>
  <ul id='employers'>
    {% for employer in site.data.cv.employers reversed %}
    {% assign parts = employer[0] | split: '-' %}
    {% assign name = employer[0] | slice: 16, 500 | split: '-' | join: ' ' %}
      <li class='employer'>
        {% capture start_date %}{{ parts[0] }}-{{ parts[1] }}-01{% endcapture %}
        {% if parts[2] == '0000' %}
          {% assign end_date = 'Present' %}
        {% else %}
          {% capture end_date %}{{ parts[2] }}-{{ parts[3] }}-01{% endcapture %}
        {% endif %}
        <h4>{{ start_date | date: "%B %Y" }} - {{ end_date | date: "%B %Y" }}</h4>
        <h3>
          {{ employer[1].role }} at
          {% if employer[1].url %}
            <a href='{{ employer[1].url }}'>
          {% endif %}
          {{ name }}{% if employer[1].url %}</a>{% endif %},
          {{ employer[1].location }}
        </h3>

        <h4>
          {{ employer[1].headline }}
        </h4>

        {% if employer[1].profile %}
          {% capture param_name %}{{ employer[1].name | downcase | replace: ' ', '-'}}{% endcapture %}

          <div class='collapse' id='{{ param_name }}-profile'>
            {{ employer[1].profile | markdownify }}
          </div>

          {% include cv/more-less.html name = param_name %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
