---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

body {
  color: $gray-lighter;
}

/* Footer styles
-------------------------------------------------- */

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }
}

/* End footer
-------------------------------------------------- */

.header {
  text-align: right;
  top: 0;
  .logo {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
}

.picture {
  padding: $padding-small-vertical $padding-small-horizontal;
  margin: $padding-small-vertical $padding-small-horizontal;

  .caption {
    color: $brand-primary;
    font-size: 0.9em;
  }
}

.navbar {
  background: $brand-primary;
  text-align: right;
}

h1 {
  text-align: center;
}
