---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

body {
}

/* Footer styles
-------------------------------------------------- */

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }
}

/* End footer
-------------------------------------------------- */

.header {
  text-align: center;
  top: 0;

  .logo {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
}

.picture {
  padding: $padding-small-vertical $padding-small-horizontal;
  margin: $padding-small-vertical $padding-small-horizontal;

  .caption {
    color: $brand-primary;
    font-size: 0.9em;
  }
}

/* Gallery styles
-------------------------------------------------- */

$flickr-height: 160px;

.flickr {
  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 1em;
  }

  .caption h1, h2 {
    padding-top: 0px;
    margin-top: 0px;
  }

  .caption h2 {
    font-size: 0.6em;
    text-align: center;
  }

  img {
    max-height: $flickr-height;
  }
}

.thumbnail {
  border: none;
}

/* End gallery */

.navbar {
  background: transparent;
  border: none;
  text-align: right;
  font-size: 1.1em;
}

h1 {
  text-align: center;
}

.subtitle {
  font-size: 0.7em;
}

.github-link {
  text-align: right;
  a {
    color: white;
  }
  padding-bottom: $padding-large-vertical;
}

.skill {
  font-size: 1.3em;
}

#sections, #contact, #interests {
  font-size: 1.5em;
}

a {
    .show-ctrl{
        display: none;
    }
    .hide-ctrl{
        display: block;
    }
    &.collapsed{
        .show-ctrl{
            display: block;
        }
        .hide-ctrl{
            display: none;
        }
    }
}

.employer, .skills {
  h3, h4 {
    margin-top: 5px;
  }
  padding-left: $padding-small-horizontal;
}

#sections, #interests, #contact {
  li {
    padding: 0px;
    margin: 0px;
  }

  li:before {
    content: " | ";
  }

  li:first-child:before {
    content: none;
  }
}

.back-to-top {
  text-align: right;
  margin-top: $padding-large-vertical;
}

@media (min-width: $screen-sm-min) {
  .nav-pills {
    position: fixed;
    top: 10px;
    left: 100px;
    width: 100px;
  }
}

.navbar-default .navbar-toggle {
  border-color: $brand-primary;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus, {
  background-color: $gray-lighter;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-primary;
}
