<!DOCTYPE html>
<html lang='en'>
  {% include header.html %}
  <body>
    {% include navigation.html %}

    <div class='container' id='{% if page.div_id %}{{ page.div_id }}{% else %}main{% endif %}'>
      {% include banner.html %}

      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>

  <script>
  console.log("  _____________________________")
  console.log("< Hello yes how can I help you? >")
  console.log("  -----------------------------")
  console.log("         \\   ^__^ ")
  console.log("          \\  (oo)\\_______")
  console.log("             (__)\\       )\\/\\")
  console.log("                 ||----w |")
  console.log("                 ||     ||")
  </script>
</html>
