---
layout: default
---

{% if page.github %}
<div class='github-link'>
  <a href='http://github.com/{{ page.github }}'>
    {{ page.github | split: '/' | last }} on Github
    <i class='fa fa-github'></i>
  </a>
</div>
{% endif %}

{{ content }}
{% if page.tags %}
<div class='project-tags'>
  Tags:
  {% for tag in page.tags %}
    <span class='project-tag'>
      <a href='/projects?tag={{ tag }}'>
        {{ tag }}
      </a>
    </span>
  {% endfor %}
</div>
{% endif %}
{% include back-to-top.html %}
